.deleteItemWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-image: url('../../assets/deletebg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  
}

.deleteItemModal {
  background-color: rgb(255, 255, 255);
  opacity: 0.85;
  padding: 80px 120px; 
  border-radius: 10px;
  text-align: center;
  font-weight: 700;
  font-family: Inter;
  font-size: 20px;
  color: #14365D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px; 
}

.textLogo span{
 color: var(--secondary-color) ;
 font-family: var(--addButton-familyFont);
 font-weight: var(--h2-font-weight);
 font-size: 80px;
}

.textLogo{
  color: var(--primary-color);
  font-family: var(--addButton-familyFont);
 font-weight: var(--h2-font-weight);
 font-size: 80px;
}

.deleteItemModal > * {
  margin-bottom: 0; 
  
}

.deleteItemModal h2 {
  margin-bottom: 0;
  font-size: 1.5rem;
}

.deleteItemModal p {
  margin-bottom: 0;
  line-height: 1.6;
  font-family: var(--p-familyFont);
  font-weight: var(--h2-font-weight);
  font-size: 40px;
}

.deleteButtons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 0;
  margin-top: 20px;
  transition: all 0.3s ease;
}

.deleteButton{
  width: 160px;
  height: 80px;
  background-color: var(--primary-color);
  font-family: var(--deleteButton-familyFont);
  font-weight: var(--deleteButton-font-weight);
  font-size: 32px;
  border-radius: var(--border-radius-buttons);
  border-style: none;
  color: var(--background-color);
}

.deleteButton:last-child{
  background-color: var(--secondary-color);
}

@media (max-width: 768px) {
  .deleteItemModal {
    padding: 40px 60px;
    font-size: 18px;
    width: 90%;
  }

  .textLogo {
    font-size: 50px;
  }

  .textLogo span {
    font-size: 50px;
  }

  .deleteItemModal p {
    font-size: 24px;
  }

  .deleteButtons {
    flex-direction: column;
    gap: 15px;
  }

  .deleteButton {
    width: 100%;
    height: 60px;
    font-size: 24px;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .deleteItemModal {
    padding: 30px;
    font-size: 16px;
    width: 95%;
  }

  .textLogo {
    font-size: 40px;
  }

  .textLogo span {
    font-size: 40px;
  }

  .deleteItemModal p {
    font-size: 20px;
  }

  .deleteButtons {
    flex-direction: column;
    gap: 10px;
  }

  .deleteButton {
    width: 100%;
    height: 50px;
    font-size: 18px;
  }
}