.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 5%;
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: var(--p-familyFont), sans-serif;
  font-size: var(--p-size);
  border-top: 1px solid #ddd;
  flex: 1;
}

.footer-left {
  flex: 1;
  color: var(--primary-color);
  font-size: var(--p-size);
  font-family: var(--p-familyFont), sans-serif;
  font-size: var(--p-size);
}

.footer-left h2 {
  font-family: var(--h1-familyFont);
  font-weight: var(--h1-font-weight);
  color: var(--primary-color);
}

.footer-left .highlight {
  color: var(--secondary-color);
}

.footer-left p {
  color: #555;
}

.social-icons {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.social-icons svg {
  font-size: 20px;
  color: var(--primary-color);
  cursor: pointer;
  transition: 0.3s;
}

.social-icons svg:hover {
  color: var(--secondary-color);
}

.footer-right {
  text-align: left;
  flex: 1;
  margin-left: 80px;
  color: var(--primary-color);
  font-size: var(--p-size);
  font-family: var(--p-familyFont), sans-serif;
  font-size: var(--p-size);
}

.footer-right .term{
  margin: 10px 10px 0 0 ;
}

.footer-right .terms{
  margin: 0 10px;
}

.footer-right a {
  color: var(--primary-color);
  font-weight: bold;
}

.footer-right a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
    padding: 15px 20px;
  }

  .footer-left,
  .footer-right {
    text-align: center;
    margin-bottom: 15px;
  }

  .social-icons {
    justify-content: center;
  }

  .social-icons svg {
    font-size: 18px;
  }
}