/* AddNewHotel.module.css */

.formContainer {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.inputGroup {
    margin-bottom: 15px;
}

.inputGroup label {
    font-size: 14px;
    margin-bottom: 5px;
}

.inputGroup input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.inputGroup input:focus {
    border-color: #14365D;
}

.submitButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #14365D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #14365D;
}
