.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 1px 2px -2px #14365D;
    z-index: 1000;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background-color: #FFFFFF;
    border-bottom: 1px solid #ddd;
    flex-wrap: nowrap;
}

.logo {
    width: 150px; 
    height: auto;  
    object-fit: contain;  
    cursor: pointer;
}

.searchForm {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 5px 10px;
    flex-grow: 1;
    max-width: 400px;
}

.searchInput {
    border: none;
    padding: 8px 12px;
    width: 100%;
    max-width: 250px;
    height: 45px;
    border-radius: 20px;
    outline: none;
    background-color: #f4f4f4;
    font-size: 16px;
    margin-right: 12px;
}

.searchButton {
    background-color: #14365D;
    font-family: "Sen", serif;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: var(--border-radius-buttons);
    cursor: pointer;
    width: 110px;
    height: 45px;
    font-size: 16px;
}

.navButtons {
    display: flex;
    gap: 15px;
}

.navButtons button {
    background-color: var(--primary-color);
    font-family: var(--addButton-familyFont);
    color: var(--background-color);
    padding: var(--padding-buttons);
    border-radius: var(--border-radius-buttons);
    cursor: pointer;
    font-size: var(--addButton-familyFont);
    width: 110px;
    height: 45px;
}

.navButtons button:hover, .searchButton:hover {
    background-color: #0F2B47;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .logo {
        width: 120px;
    }

    .searchForm {
        width: 100%;
        max-width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }

    .searchInput {
        width: 80%;
        max-width: 100%;
    }

    .navButtons {
        flex-direction: column;
        width: 90%;
        gap: 10px;
    }

    .navButtons button {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {

    .logo {
        width: 100px;  
    }
}
