.editHotelWrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    z-index: 1000;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
}

.contentBox{
    width: 1000px;
    display: flex;
    margin: 0 auto;
    padding: 20px;
}

.imageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0px;
    margin: auto;
}

.hotelImage{
    background-color: #ffffff;
    border-radius: 10px 0 0 10px;
    left: 0;
    width: 100%;
    height: 750px;
    object-fit: cover;
}

.editHotelForm {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 0 10px 10px 0;
    width: 100%;
    height: 750px;
}

.editHotelForm h2{
    text-align: center;
    padding: 15px;
}

.editHotelForm label {
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: var(--h1-font-weight);
}

.editHotelForm input {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.editHotelForm .buttons {
    display: flex;
    justify-content:space-around;
    margin-top: 30px;
}

.editHotelForm button {
    background-color: var(--primary-color);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
    width: 160px;
    font-family: var(--addButton-familyFont);
    font-size: var(--addButton-fontSize);
    font-weight: var(--addButton-font-weight);
}


.editHotelForm button[type="button"] {
    background: var(--secondary-color);
}

