.filterContainer {
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-top: 16px;
    gap: 40px;
    flex-wrap: wrap;
}

.filterInput {
    margin-right: 10px;
    font-family: 'Inter', sans-serif;
    padding: 5px;
    font-size: 16px;
    width: fit-content;
    height: 45px;
    border: 2px solid;
    border-radius: 12px;
    border-color: var(--primary-color);
}
/* Improve focus effect for better UI feedback */
.filterInput:focus {
    outline: none;
    border-color: #0f2a47; /* Slightly darker shade for better visibility */
    box-shadow: 0px 0px 8px rgba(15, 42, 71, 0.3);
}

.filterInput option{
    color: var(--primary-color);
    font-family: 'Inter', sans-serif;
}

@media screen and (max-width: 768px) {
    .filterContainer {
        flex-direction: column;
        margin-top: 25%;
        gap: 15px;
    }

    .filterInput {
        width: 100%;
        max-width: 300px;
    }
}