.formContainer {
    width: 100%;
    max-width: 800px;
    margin: 100px auto 50px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.successMessage {
    color: green;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    background-color: #e6ffe6;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
}

.formContainer h2 {
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin-bottom: 20px;
    font-size: 24px;
    color: #14365D;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputGroup {
    margin-bottom: 15px;
}

.inputGroup label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

.inputGroup input {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.inputGroup input:focus {
    border-color: #14365D;
    box-shadow: 0 0 5px rgba(20, 54, 93, 0.3);
}

.submitButton {
    padding: 12px 20px;
    font-family: var(--addButton-familyFont);
    font-size: var(--addButton-fontSize);
    background-color: var(--primary-color);
    font-weight: var(--addButton-font-weight);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
    .formContainer {
        max-width: 90%;
        padding: 15px;
    }

    .form {
        gap: 15px;
    }

    .inputGroup input {
        padding: 10px;
        font-size: 16px;
    }

    .submitButton {
        padding: 14px;
        font-size: 18px;
    }
}
