:root{
  --primary-color: #14365D;
  --secondary-color: #F2672B;
  --background-color: #FFFFFF;
  --cardFramework-color: #14365D33;  /*this code includes a transparency; don't change it*/
  --searchBoxFill-color: #14365D0D;  /*this code includes a transparency; don't change it*/
  --h1-familyFont: inter;
  --h1-font-weight: bold;
  --h2-familyFont: inter;
  --h2-font-weight: 600; /*semibold*/
  --p-familyFont: inter;
  --p-font-weight: normal;
  --p-size: 16px;
  --addButton-familyFont: sen;
  --addButton-fontSize: 20px;
  --addButton-font-weight: medium;
  --filterButton-familyFont: sen;
  --filterButton-fontSize: 20px;
  --filterButton-font-weight: medium;
  --editButton-familyFont: sen;
  --editButton-fontSize: 18px;
  --editButton-font-weight: medium;
  --deleteButton-familyFont: sen;
  --deleteButton-fontSize: 14px;
  --deleteButton-font-weight: medium;
  --border-radius-buttons: 30px;
  --padding-buttons: 10px;
  --font-size-buttons: 14px;
  --cursor-buttons: pointer;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif, 'Sen', sans-serif;
}

button {
  cursor: pointer;
}

